<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
            "
           
	>
<!-- <bean id="hello" class="com.he.bean.Hello">
<property name="name" value="spring"></property>

</bean>
<bean id="sb" class="com.he.bean.Sb">
<property name="sex" value="nan"></property>
<property name="age" value="16"></property>
</bean>
<bean id="all1" class="com.he.bean.All" autowire="byType">
	</bean>
<bean id="testwork" class="com.he.bean.TestWork"></bean>
<bean id="logger" class="com.he.bean.Logger"></bean>
<aop:config>
	<aop:aspect ref="logger">
		<aop:before method="beforeLogger" pointcut="execution(* *.test(..))"/>
		<aop:after method="afterLogger" pointcut="execution(* *.test(..))"/>
	</aop:aspect>
</aop:config> -->
<bean id="all" class="com.he.bean.All">
<constructor-arg index="0" type="com.he.bean.Hello" ref="hello"></constructor-arg>
<constructor-arg index="1" type="com.he.bean.Sb" ref="sb"></constructor-arg>
</bean>
<bean id="hello" class="com.he.bean.Hello">
<constructor-arg value="你好，我是spring"  index="0" type="java.lang.String" ></constructor-arg>
</bean>

<bean id="sb" class="com.he.bean.Sb">
<constructor-arg  index="0" type="java.lang.String" value="man"></constructor-arg>
<constructor-arg  index="1" type="int" value="16"></constructor-arg>
</bean>


<!-- 自动扫描 -->
<context:component-scan base-package="com.he.bean"></context:component-scan>
<bean id="viewResolverCommon" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/html/"/>  
    <property name="suffix" value=".html"/>
    
</bean>
</beans>
